body{
    font-family:sans-serif;
    background-color: black;
    margin: 0;
}


h2,h3{
    display: flex;
    justify-content: center;
    color: white;
}

.fotos__pagina{
    text-align: center;
    
}
.fotos{
    
    border-radius: 20px;
    width: 280px;
    height: 250px;
  
}

.faq__pregunta{
    color: black;
    border: 2px solid white;
    background: white;
    padding: 4px;
    border-radius: 20px;
}
.faq__respuesta{
    color: white;
    border: 2px solid white;
    background: #292828;
    padding: 4px;
    border-radius: 20px;
}


.InformaciondelosJuegos{
    align-content: center;
    color: black;
    border:2px solid white ;
    border-color: black;
    background: white;
    padding: 6px;
    border-radius: 20px;
}



header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #292828;
    padding: 20px;
}
.menu__opciones:hover
{
    color: black;
}
.menu__opciones{
    border: 2px solid #C47212;
    background:#C47212 ;
    padding: 6px;
    margin-right: 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    list-style: none;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-right: 5px;
}
.paginas{
    display: flex ;  
   
}




.link__descarga:hover{
    color: black;
}
.link__descarga{
    border: 2px solid #C47212;
    background: #C47212;
    padding: 6px;
    margin-right: 25px;
    border-radius: 20px;
    text-decoration: none;
    color: white;   
}
.linkdescarga{
    height: 10px;
}
.Links{
    display: flex;
    justify-content: center;
    padding: 40px;
}


.redessociales{ 
    padding: 10px;  
}
.redesimg{
    height: 60px;
    width: 60px;
}

footer{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #292828;
    padding: 20px;
}
.redes{
    display: flex;
    align-items: center;
    padding: 25px;  
}



article{
    color: white;
}
.Formulario{
    color: white;
}

