body{
    background-color: black;
}
h1,h2,h3{
    display: flex;
    justify-content: center;
    color: white;
}
.fotos{
    width: 280px;
    height: 250px;
}
.faq__pregunta{
    color: black;
    border: 2px solid white;
    background: white;
    padding: 4px;
    border-radius: 20px;
}
.faq__respuesta{
    color: white;
    border: 2px solid white;
    background: #292828;
    padding: 4px;
    border-radius: 20px;
}
.InformaciondelosJuegos{
    color: black;
    border:2px solid white ;
    border-color: black;
    background: white;
    padding: 6px;
    border-radius: 20px;
}
.Menu__Texto{
    color: brown;
}
menu{
    text-decoration: none;
    color: #292828;
}
.menu__opciones{
    border: 2px solid #C47212;
    background:#C47212 ;
    padding: 4px;
    margin-right: 25px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.link__descarga{
    border: 2px solid #C47212;
    background: #C47212;
    padding: 4px;
    margin-right: 25px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.redessociales{
    text-decoration:none;
    margin-right: 25px;
    color: white;
}
header{
    background-color: #292828;
}
footer{
    background-color: #292828;
}

article{
    color: white;
}
.Formulario{
    color: white;
}
.paginas{
    display: flex;
    justify-content: center;
}
.Links{
    display: flex;
    justify-content: center;
}
.redes{
    display: flex;
    justify-content: center;
}
